# For now ignoring any file or directory that does not start with a "."
# Any dot sub-directory must be explicitly re-included
*
!\.*

# exclude git subprojects as they have their own ignore file
# .oh-my-zsh/custom files have to be force added to this dotfiles config repo
.oh-my-zsh

!.config/sublime-text-3/
!.config/sublime-text-3/**
.config/sublime-text-3/**/\.nfs*
.config/sublime-text-3/Cache
.config/sublime-text-3/Index
.config/sublime-text-3/Local
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Packages/User/.SublimeREPLHistory
.config/sublime-text-3/Packages/SublimeHaskell/cache
.config/sublime-text-3/Packages/User/Package Control.last-run
.config/sublime-text-3/Settings

!.config/terminator/
!.config/terminator/**

!.i3/
!.i3/**

!.lein/
!.lein/**

.bash_history
.dmenu_cache
.gtk*
.install4j
.k_history
.lesshst
.pgadmin_histo*
.rc.local
.recently-used
.viminfo
.zcompdump*
.zsh-update

*authority
*cookie*
*errors*
*history
*.lock
*.log
*.pid

