# By default text files are stored with LF line endings (Linux, OSX, Unix)
# Auto convert default behaviour, in case windows people don't have core.autocrlf set
# which is a global or user gitconfig that might be forgotten
* text eol=auto

*.sublime-package binary
*.png binary
*.jpg binary
