# For now ignoring any file or directory that does not start with a "."
# Any dot sub-directory must be explicitly re-included
*
!\.*

# exclude git subprojects as they have their own ignore file
# .oh-my-zsh/custom files have to be force added to this dotfiles config repo
.oh-my-zsh
.zprezto

!bin/
!bin/**

!cmder/
!cmder/**
!cmder/config
cmder/*.md
cmder/icons/
cmder/vendor/
cmder/Version*
cmder/Cmder.exe


# sync just Packages/User/*, minus a few regularly updated files
.config/sublime-text-3/**/\.nfs*
!.config/sublime-text-3/
!.config/sublime-text-3/Packages/
!.config/sublime-text-3/Packages/User/
!.config/sublime-text-3/Packages/User/**
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Packages/User/.SublimeREPLHistory
.config/sublime-text-3/Packages/User/Package Control.last-run
.config/sublime-text-3/Packages/User/Package Control.ca-list
.config/sublime-text-3/Packages/User/Package Control.ca-bundle
.config/sublime-text-3/Packages/User/Package Control.system-ca-bundle
.config/sublime-text-3/Packages/User/Package Control.cache/
.config/sublime-text-3/Packages/User/Package Control.ca-certs/
.config/sublime-text-3/Packages/User/Character Table/Default/Default.sublime-keymap
.config/sublime-text-3/Packages/User/SublimeLinter/*.tmTheme
!.config/sublime-text-3/Installed Packages/
!.config/sublime-text-3/Installed Packages/.empty-directory
!.config/sublime-text-3/Installed Packages/Shrink Whitespaces.sublime-package


!.config/terminator/
!.config/terminator/**

!.i3/
!.i3/**

!.lein/
!.lein/**
.lein/self-installs/

.cargo/

.bash_history
.dmenu_cache
.gitconfig
.gtk*
.install4j
.k_history
.lesshst
.pgadmin_histo*
.rc.local
.recently-used
.rnd
.SpiderOak
.swinfo
.viminfo
.zcompdump*
.zsh-update

*authority
*cookie*
*errors*
*history
*_hist
*.lock
*.log
*.pid

